*{
    color:blue;
    font-family: 'Source Sans Pro', sans-serif;

}
/* I am active if blue*/
#rapper{
    margin: 0 auto;
    text-align: center;
}

/* 22 words guidelines
highlight = pink 
font = can't tell
*/

/* a :hover{
    color:pink;
} */

#big{
    height: 40px;
    width: 40px;
}
#showcase{
    height: 50%;
    /* width: 90% */
}
.small{
    width:65%;
}